@{
    var breadCrumbs =
        new KeyValuePair<string, string>[]
        {
            KeyValuePair.Create(
                Url.Action("Privacy"), "Privacy Policy")
        };

    ViewData["Title"] = "Privacy Policy";
    ViewData["BreadCrumbs"] = breadCrumbs;
}

<p>All your cookies are belong to us!</p>
