@{
    var breadCrumbs =
        new KeyValuePair<string, string>[]
        {
            KeyValuePair.Create(
                Url.Action("Index"), "Companies")
        };

    ViewData["Title"] = "Companies";
    ViewData["BreadCrumbs"] = breadCrumbs;

    var dataUrl = Url.Action("List");
    var navUrl = Url.Action("Details", new { id = 0 });
}

<partial name="_SearchTable"
    model="new SearchTableViewModel<CompanyQueryModel>(dataUrl, navUrl)" />

@section Controls
{
<div class="btn-toolbar mt-4" role="toolbar">
    <div class="btn-group mr-auto"></div>
    <form method="post" asp-action="Create">
        <button type="submit" class="btn btn-primary">Create New</button>
    </form>
</div>
}
