@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-info">Not Found.</h1>

<p>@Model.Message</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
