@{
    var breadCrumbs =
        new KeyValuePair<string, string>[]
        {
            KeyValuePair.Create(
                Url.Action("Index"), "Employees")
        };

    ViewData["Title"] = "Employees";
    ViewData["BreadCrumbs"] = breadCrumbs;

    var dataUrl = Url.Action("List");
    var dataNavUrl = Url.Action("Details", new { id = 0 });
}

<partial name="_SearchTable" model="
         new SearchTableViewModel<EmployeeQueryModel>(dataUrl, dataNavUrl)" />

@section Controls
{
<div class="btn-toolbar mt-4" role="toolbar">
    <div class="btn-group mr-auto"></div>

    <form method="post" asp-action="Create">
        <button type="submit" class="btn btn-primary mr-1">Create New</button>
    </form>
</div>
}